.course{
  display: flex;
  margin:20px 0px;
  background: #fed;
  align-items: center;
}

.cover{
  // width: 200px;
  flex:0 0 200px;
  height:100px;
  background: center center no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.info{
  flex:1;
  font-family: Microsoft Jheng Wei;
}

.title{
  font-size:1.5em;
  color:blue;
  margin:0;
}
.subtitle{
  margin:0;
}
